{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/about.css"/>
{% endblock %}
{% block content %}
    <section class="bio-section">
        <p>{{ about[0] }}<br>{{ about[1] }}</p>
        
        <p>{{ about[2]}}</p>

        <p>{{ about[3] }}</p>
    </section>
    <aside class="sidebar">
        <img class="photo" src="/static/images/profilephoto.jpg"/>
        <h3>Certifications</h3>
        <img class="certification-badge" src="/static/images/aws-certified-cloud-practitioner.png" alt="AWS Certified Cloud Practitioner"/>
    </aside>
{% endblock %}