{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/project.css">
{% endblock %}
{% block content %}
<div class="content-flex">
    <a href="{{ url_for('projects') }}">< Back to Projects</a>
    <article>
        <h2>{{ project['title'] }}</h2>
        {% for paragraph in project['about'] %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </article>
</div>
<aside>
    <img class="project-image" src="{{ url_for('static', filename=project['thumbnail']) }}" />
    <h3>Technologies Used</h3>
    <ul>
        {% for item in project['technologies'] %}
            <li class="technology-item">{{ item }}</li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}